.design-toolbox
{
	padding: 10px;
	margin: 0;
	border: solid 1px #A0C7FF;
	background: #fff;
	float: left;
	position: absolute;
	color: #666;
	font-family: Arial;
	font-size: 10px;
	width: 200px;
	top: 20px;
	right: 20px;
	display: none;
	text-indent: 0;
}

.toolbox-selector
{
	background: url('../images/DesignTool/tool-selector-bg.png') no-repeat top left;
	width: 32px;
	height: 32px;
	position: absolute;
	cursor: pointer;
	top: 10px;
	left: 10px;
}

.toolbox-selector span
{
	display: block;
	padding-top: 6px;
	margin-left: 11px;
	font-weight: bold;
	font-family: Arial;
	font-size: 14px;
	color: #fff;
	text-indent: 0; /* Edit in case logo text is indented */
}